@model Tienda.Models.departamento

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar este departamento?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_DEPARTAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_DEPARTAMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais.NOMBRE_PAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais.NOMBRE_PAIS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a Lista", "Index")
        </div>
    }
</div>
