@model Tienda.Models.ciudad

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>ciudad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_CIUDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_CIUDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamento.NOMBRE_DEPARTAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento.NOMBRE_DEPARTAMENTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_CIUDAD }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
