@model Tienda.Models.sucursal

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Sucursal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad.NOMBRE_CIUDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad.NOMBRE_CIUDAD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_SUCURSAL }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
