@model Tienda.Models.tipo_producto

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Tipo Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_TIPO_PRODUCTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_TIPO_PRODUCTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION_TIPO_PRODUCTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION_TIPO_PRODUCTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_TIPO_PRODUCTO }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
