@model IEnumerable<Tienda.Models.empleado>

@{
    ViewBag.Title = "Lista Empleados";
}

<h2>Lista Empleados</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_CONTRATACION_EMPLEADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HORAS_LABORALES_MENSUALES_EMPLEADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo_laboral.CARGO_LABORAL1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.persona.PRIMER_NOMBRE_PERSONA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sucursal.NOMBRE_SUCURSAL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_CONTRATACION_EMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HORAS_LABORALES_MENSUALES_EMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo_laboral.CARGO_LABORAL1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.persona.PRIMER_NOMBRE_PERSONA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sucursal.NOMBRE_SUCURSAL)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_EMPLEADO }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.ID_EMPLEADO }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_EMPLEADO })
        </td>
    </tr>
}

</table>
