@model Tienda.Models.cargo_laboral

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Cargo Laboral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CARGO_LABORAL1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARGO_LABORAL1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION_CARGO_LABORAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION_CARGO_LABORAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALARIO_MENSUAL_CARGO_LABORAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALARIO_MENSUAL_CARGO_LABORAL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_CARGO_LABORAL }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
